<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tricky Tac Toe</title>
	<link rel="stylesheet" href="styles.css">
	<style>
		*{
			margin: 0;
			padding: 0;
			list-style: none;
			box-sizing: border-box;
			font-family: 'Montserrat', sans-serif;
		}

		body{
			background: linear-gradient(-90deg, #00c9ff, #92fe9d);
			font-family: 'Montserrat', sans-serif;
		}
		.wrapper{
			width: 100%;
			height: 100%;
		}

		.lboard_section{
			width: 500px;
			height: 400px;
			margin: 100px auto 0;
			padding: 25px 40px;
			position: relative;
			border-radius: 5px;
		}

		.lboard_section .lboard_tabs ul{
			display: flex;
		}

		.lboard_section .lboard_tabs ul li{
			margin-right: 50px;
			font-size: 18px;
			font-weight: 600;
			color: #3a3d51;
			cursor: pointer;
		}

		.lboard_section .lboard_tabs ul li:hover,
		.lboard_section .lboard_tabs ul li.active{
			color: #fff;
		}

		.lboard_wrap{
			position: absolute;
			top: 70px;
			left: 40px;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}

		.lboard_wrap .lboard_item{
			padding: 25px;
		}

		.lboard_wrap .lboard_mem{
			display: flex;
			align-items: center;
			padding: 15px 0;
			border-bottom: 1px solid #001aff;
		}

		.lboard_wrap .lboard_mem:first-child{
			padding-top: 0;
		}

		.lboard_wrap .lboard_mem:last-child{
			padding-bottom: 0;
			border-bottom: 0;
		}

		.lboard_wrap .lboard_mem .img{
			width: 50px;
		}

		.lboard_wrap .lboard_mem img{
			display: block;
			width: 100%;
		}

		.lboard_wrap .lboard_mem .name_bar{
			margin: 0 20px;
			width: calc(100% - 150px);
		}

		.lboard_wrap .lboard_mem .name_bar p{
			color: #3a3d51;
		}

		.lboard_wrap .lboard_mem .name_bar p span{
			margin-right: 5px;
		}

		.lboard_wrap .lboard_mem .points{
			width: 100px;
			color: #3a3d51;
		}

		.lboard_wrap .lboard_mem .name_bar .bar_wrap{
			width: 100%;
			height: 5px;
			background: #d5b000;
			margin-top: 5px;
			border-radius: 5px;
			position: relative;
			overflow: hidden;
		}

		.lboard_wrap .lboard_mem .name_bar .bar_wrap .inner_bar{
			position: absolute;
			top: 0;
			left: 0;
			height: 5px;
			background: #fff;
			border-radius: 5px;
			border-top-right-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		.today {
			background-color: #ffffff;
		}
		#header {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
		#back {
			background: #001aff;
			border: 0;
			color: #FFFFFF;
            border: 2px solid #001aff;
            font-weight: bold;
            font-size: 1em;
            padding: 0.5em;
            margin: 1em;
		}
	</style>
</head>
<body>
<div id="header">
	<form method="get" action="/dashboard">
		<input id="back" type="submit" value="Back">
	</form>
</div>
<div class="wrapper">
	<div class="lboard_section">
		<div class="lboard_wrap">
			<div class="lboard_item today">
				<div class="lboard_mem">
					<div class="name_bar">
						<p><span></span>Username</p>
					</div>
					<div class="points">
						Highscore
					</div>
				</div>
				{{#if leaderboard}}
					{{#each leaderboard}}
						<div class="lboard_mem">
							<div class="name_bar">
								<p><span></span>{{username}}</p>
							</div>
							<div class="points">
								{{highscore}}
							</div>
						</div>
					{{/each}}
				{{else}}
				Leaderboard is Empty
				{{/if}}
			</div>
		</div>
	</div>
</div>	

<script src="scripts.js"></script>
</body>
</html>