<html>
<head>
<title>Tricky Tac Toe</title>
<link rel="stylesheet" href="style.css">
<style>
body{
	height: 100vh;
	background-size: cover;
	background-position: center;
	background: linear-gradient(-90deg, #00c9ff, #92fe9d);
	font-family: 'Montserrat', sans-serif;
}
.login-page{
	width: 360px;
    padding: 10%;
	margin: auto;
}
.form {
	position: relative;
	z-index: 1;
	background: #FFF;
	border: 1px solid #CCC;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}
.form input{
	font-family: "Robotto", sans-serif;
	outline: 1;
	background: #EEE;
	border: 1px solid #CCC;
	width: 100%;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	color: #555;
}
#login{
	font-family: "Robotto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgb(18, 190, 23);
	width: 100%;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
#link{
	font-family: "Robotto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgb(245, 153, 6);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.form .message{
	font-family: "Robotto", sans-serif;
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 18px;
}
.form .message a{
	color: #4CAF50;
	text-decoration: none;
	font-weight: bold;
}
#login-error-message {
	color: #777;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1em;
}
#tic-tac-toe {
	color: #001aff;
	font-weight: bold;
	font-size: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}
</style>
</head>
<body>
	<div id="tic-tac-toe">
		TIC TAC TOE
	</div>
<div class="login-page">
	<div class="form">
		{{#if loginerror}}
		<div id="login-error-message">
			{{loginerror}}
		</div>
		{{/if}}
		<form class="login-form" method="post" action="/">
			<input type="text" placeholder="Username" name="username" required/>
			<input type="password" placeholder="Password" name="password" required/>
			<input id="login" type="submit" value="Login">
		</form>
		<form method="get" action="/register">
			<input id="link" type="submit" value="Not Registered? Register">
		</form>
	</div>
</div>
</body>
</html>