<html>
<head>
<title>Tricky Tac Toe</title>
<link rel="stylesheet" href="style.css">
<style>
body{
	height: 100vh;
	background-size: cover;
	background-position: center;
	background: linear-gradient(-90deg, #00c9ff, #92fe9d);
	font-family: 'Montserrat', sans-serif;
}
.register-page{
	width: 360px;
    padding: 10%;
	margin: auto;
}
.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	border: 1px solid #CCC;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}
.form input{
	font-family: "Robotto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	border: 1px solid #CCC;
	width: 100%;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
#register{
	font-family: "Robotto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgb(18, 190, 23);
	width: 100%;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
#link{
	font-family: "Robotto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: rgb(245, 153, 6);
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
.form .message{
	font-family: "Robotto", sans-serif;
	margin: 15px 0 0;
	color: aliceblue;
	font-size: 18px;
}
.form .message a{
	color: #4CAF50;
	text-decoration: none;
	font-weight: bold;
}
#error-message {
	color: #777;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2em;
	font-family: "Robotto", sans-serif;
}
</style>
</head>
<body>
<div class="register-page">
	<div class="form">
		{{#if register_message}}
			<div id="error-message">
				{{register_message}}
			</div>
		{{/if}}
		{{#if emailerror}}
			<div id="error-message">
				{{emailerror}}
			</div>
		{{/if}}
		{{#if passworderror}}
			<div id="error-message">
				{{passworderror}}
			</div>
		{{/if}}
		<form class="register-form" method="post" action="/register">
			<input type="text" placeholder="Username" name="username" required/>
			<input type="text" placeholder="Email id" name="email" required/>
			<input type="password" placeholder="Password" name="password" required/>
			<input id="register" type="submit" value="Register">
		</form>
		<form method="get" action="/">
			<input id="link" type="submit" value="Already Registered? Login">
		</form>
	</div>
</div>
</body>
</html>