body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #eb9834;
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas {
    height: 90vw;
    width: 90vw;
    max-width: 30em;
    max-height: 30em;
    background: #ffffff;
    border: 2px solid #000000;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(-90deg, #00c9ff, #92fe9d);
    font-family: 'Montserrat', sans-serif;
}

#restartBtn {
    height: 10vw;
}

#robot {
    height: 10vw;
}

#human {
    height: 10vw;
}